@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model KutuphaneOturum.Controllers.AnaSayfaModel


<body data-topbar="colored" data-layout="horizontal">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar" style="background: #9b1e48; height: 80px;">
            <div class="navbar-header">

                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="@Url.Action("Anasayfa", "Anasayfa")" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="~/Style/images/logo2.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/Style/images/logo2.png" alt="" height="17">
                            </span>
                        </a>

                        <a href="@Url.Action("Anasayfa", "Anasayfa")" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/Style/images/logo2.png" alt="" height="60">
                            </span>
                            <span class="logo-lg">
                                <img src="~/Style/images/logo2.png" alt="" height="60">
                            </span>
                        </a>
                    </div>
                    <!-- App Search-->
                </div>

                <div class="d-flex">
                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-bell bx-tada"></i>
                                @if (Model.msl.Count > 0)
                                {
                                    <span class="badge bg-danger rounded-pill">@Model.msl.Count</span>
                                }
                            </button>

                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                 aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0" key="t-notifications"> Bildirimler </h6>
                                        </div>

                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">

                                    @foreach (var item in Model.msl)
                                    {
                                        <a href="" class="text-reset  gonderim-item">
                                            <div class="media">
                                                <div class="avatar-xs me-3">
                                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                        <i class="bx bx-cart"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="mt-0 mb-1" key="t-your-order">@item.id</h6>
                                                    <div class="font-size-12 text-muted">
                                                        <p class="mb-1" key="t-grammer">@item.kat</p>
                                                        <p class="mb-1" key="t-grammer">@item.user_id</p>
                                                        <p class="mb-1" key="t-grammer">@item.masa_sayisi</p>
                                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">@item.bitirme_tarihi.ToString("dd MMMM HH:mm")</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    }

                                </div>

                            </div>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="d-none d-xl-inline-block ms-1" key="t-henry">Merhaba @Session["USERNAME"] </span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>

                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item text-danger" href="@Url.Action("Profilim", "Profilim")"> <span key="">Profilim</span></a>
                                <a class="dropdown-item text-danger" href="@Url.Action("Cikis", "Giris")"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Çıkış Yap</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="navbar-header" style="max-width: 100% !important;">
                                        <div class="d-flex">
                                            <h4> Aktif Oturumlar </h4>
                                        </div>

                                        <div class="d-flex">
                                            <button onclick="location.href='@Url.Action("Yardimlasma", "Yardimlasma")'" type="button" class="btn btn-success waves-effect btn-label waves-light"><i class="bx bx-plus label-icon"></i> Yardımlaşma</button>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="align-middle">Kullanıcı</th>
                                                    <th class="align-middle">Aktiflik Süresi</th>
                                                    <th class="align-middle">Kat Sayısı</th>
                                                    <th class="align-middle">Masa Sayısı</th>
                                                    <th class="align-middle">Durum</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.msl.Count < 1)
                                                {
                                                    <tr>
                                                        Aktif oturum bulunmamaktadır
                                                    </tr>
                                                }

                                                @foreach (var item in Model.usermasalari)
                                                {
                                                    <tr>

                                                        <td><a href="javascript: void(0);" class="text-body fw-bold">@item.klc.username.ToString()</a> </td>

                                                        <td>
                                                            @item.masa.bitirme_tarihi.ToString("dd MMMM, yyyy")
                                                        </td>
                                                        <td>
                                                            @item.masa.kat.ToString()
                                                        </td>
                                                        <td>
                                                            @item.masa.masa_sayisi.ToString()
                                                        </td>
                                                        <td>
                                                            @* @if (@item.ots.aktifMi == 1)
                                                                {
                                                                    <span class="badge badge-pill badge-soft-dark font-size-12">AKTİF</span>
                                                                }
                                                                else if (@item.ots.aktifMi == 2)
                                                                {
                                                                    <span class="badge badge-pill badge-soft-success font-size-12">AKTİF DEĞİL</span>
                                                                }

                                                            *@
                                                        </td>


                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Fırat Üniversitesi
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/Style/lib/jquery/jquery.min.js"></script>
    <script src="~/Style/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Style/lib/metismenu/metisMenu.min.js"></script>
    <script src="~/Style/lib/simplebar/simplebar.min.js"></script>
    <script src="~/Style/lib/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="~/Style/apexcharts/apexcharts.min.js"></script>

    <script src="~/Style/js/dashboard.init.js"></script>

    <script src="~/Style/js/app.js"></script>
</body>